<div class="container">
    <div class="profile-header">
        <h1>User Profile</h1>
    </div>

    <div class="profile-info">
        <p><span class="label">Username: </span><%= user.username %></p>
        <p><span class="label">Email: </span><%= user.email %></p>
        <p><span class="label">Role: </span><%= user.role %></p>
    </div>

</div>